#content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contentSection {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.description {
  width: 50vw;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin: 20px 50px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

h2 {
  font-size: 40px;
}

#descriptionText {
  text-align: justify;
  margin: 20px 0;
}


button {
  background-color: transparent;
}

.adapt {
  width: 60px;
  height: 60px;
  cursor: pointer;
  border: none;
  border-radius: 10000px;
  background-image: url("../images/adapt.png");
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center center;
  transition: 0.2s;
  outline: none;
  margin: 0 5px;
}
.adapt:hover, .adapt:focus {
  background-color: #d7d8d9;
}

.formButton {
  cursor: pointer;
  padding: 10px;
  margin: 30px 10px;
  background: transparent;
  border: 6px solid #D7D8D9;
  border-radius: 0;
  color: #4D4D4D;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: bold;
  width: 200px;
  transition: 0.2s;
  outline: none;
}

.formButton:hover, .formButton:focus {
  background: rgba(215, 216, 217, 0.7);
  color: #4D4D4D;
}


#erfolgreich, #fehlgeschlagen {
  position: fixed;
  top: 55px;
  left: 0;
  right: 0;
  margin: auto;
  padding: 20px;
  text-align: center;
  border-radius: 0;
  font-weight: bold;
  width: max-content;
  transition: 0.3s;
  z-index: 10;
}
#erfolgreich {
  background: #58dfb2;
  color: white;
  border: 2px solid #39b189;
}

@media (max-width: 1000px) {
  .description {
    width: 65vw;
  }
  h2 {
    font-size: 30px;
  }
}

@media (max-width: 650px) {
  .event {
    width: 300px;
  }
  .adapt {
    width: 50px;
    height: 50px;
  }

  .formButton {
    margin: 10px 10px;
  }
}

@media (max-width: 500px) {
  #erfolgreich, #fehlgeschlagen {
    padding: 5px;
    border-width: 1px;
  }
  h2 {
    font-size: 20px;
  }
  .description {
    width: 85vw;
  }
}