.agbText {
  width: 50em;
  margin: 15px auto;

  p {
    margin-bottom: 10pt;
  }

  li {
    margin-left: 25pt;
  }

  ul {
    margin-bottom: 10pt;
  }
}

@media (max-width: 1000px) {
  .agbText {
    width: 90vw;
    margin: 15px;
    text-wrap: normal;
  }
}