#content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contentSection {
  width: 100vw;
}

.description {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  margin: 20px 50px;
  display: flex;
  justify-content: center;
}

.item {
  flex-direction: column;
  align-items: flex-start;
  margin: 50px 100px;
  width: 500px;
  background: #4D4D4D;
  padding: 20px 50px;
}
.item > *, .item > div > * {
  color: #D7D8D9;
  font-size: 25px;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  margin: 10px;
}
.item > div > * {
  margin: 0;
}
.item > *:nth-child(1) {
  font-size: 33px;
  font-weight: bold;
}

.right, .right2, .right > p, .right2 > p {
  font-family: "Roboto", sans-serif !important;
  font-size: 22px !important;
  font-weight: normal !important;
}
.right {
  margin-left: 2.5vw;
}
.right2 {
  margin-left: 5vw;
}

#socialMediaDiv {
  margin-top: 40px;
  width: 100%;
  display: flex;
  align-self: center;
  flex-direction: row;
  justify-content: space-evenly;
}


@media (max-width: 1300px) {
  .item {
    width: max-content;
    padding: 20px;
    margin: 50px;
  }
}

@media (max-width: 1000px) {
  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .item {
    width: 90vw;
    word-wrap: anywhere;
    padding: 20px 100px;
  }

  .right {
    margin-left: 5vw;
  }
  .right2 {
    margin-left: 10vw;
  }
}

@media (max-width: 750px) {
  .item {
    padding: 20px 40px;
  }
}

@media (max-width: 500px) {
  .item {
    padding: 20px;
  }


  .item > *:nth-child(1) {
    font-size: 28px;
  }
  .right, .right2, .right > p, .right2 > p {
    font-family: "Roboto", sans-serif !important;
    font-size: 17px !important;
  }
  .item > *, .item > div > * {
    color: #D7D8D9;
    font-size: 20px;
  }
}