* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #4D4D4D;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

h1 {
  font-size: 60px;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}

.blue {
  color: #00ADD0;
}

.bold {
  font-weight: bold;
}

.oswald {
  font-family: "Oswald", sans-serif;
}



#heading {
  background: #D7D8D9;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentHeading {
  height: 81px;
  background: #4D4D4D;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  color: #D7D8D9;
  font-family: "Oswald", sans-serif;
  font-size: 28px;
  font-weight: bold;
}

.contentInfo {
  background: #4D4D4D;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
  padding: 20px 0;
  font-family: "Roboto", sans-serif;
}
.contentInfo > * {
  color: #D7D8D9;
  font-size: 18px !important;
}

.item {
  display: flex;
  align-items: center;
  height: max-content;
}

.item > * {
  margin: 5px;
}

.plus {
  width: 20px;
  height: auto;
}

.person {
  width: 200px;
  height: auto;
}

.socialMedia {
  width: 60px;
  height: auto;
}

body::after {
  content: '';
  display: block;
  height: 110px; /* Set same as footer's height */
}

footer {
  :active, :visited, :link {
    color: white;
  }

  background: #4D4D4D;
  color: white;
  margin-top: 10px;
  text-align: center;
  position: absolute;
  width: 100%;
  padding: 20px;
  font-weight: normal;
  bottom: 0;
  height: 100px;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 40px;
  }
}