* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #4D4D4D;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  padding-top: 47px;
}

h1 {
  font-size: 60px;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 30px;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}

h3 {
  font-size: 22px;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}

.error {
  background: #ff9191;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  border: #ff5353 solid 2px;

  * {
    color: #4D4D4D;
  }
}

.blue {
  color: #00ADD0;
}

.nowrap-text {
  white-space: nowrap;
  text-overflow: "...";
  width: 100%;
  display: block;
  overflow: hidden !important;
}

.expand-icon {
  font-size: 1.2em;
  margin-top: -2px;
  right: 0;
  position: absolute;
}

.delete-icon {
  font-size: 1.2em;
  height: 1.2em;
  //margin-top: -2px;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.delete-col {
  position: relative;
}

.nowrap-container {
  width: 100%;
  display: inline-grid;
  grid-template-columns: calc(100% - 1.3em) 1.3em;
  position: relative;
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.oswald {
  font-family: "Oswald", sans-serif;
}

#heading {
  background: #D7D8D9;
  min-height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: anywhere;

  h1 {
    text-align: center;
  }
}

.contentHeading {
  height: 81px;
  background: #4D4D4D;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  color: #D7D8D9;
  font-family: "Oswald", sans-serif;
  font-size: 28px;
  font-weight: bold;
}

.contentInfo {
  background: #4D4D4D;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
  padding: 20px 0;
  font-family: "Roboto", sans-serif;
}

.contentInfo > * {
  color: #D7D8D9;
  font-size: 18px !important;
}

.item {
  display: flex;
  align-items: center;
  height: max-content;
}

.item > * {
  margin: 5px;
}

.plus {
  width: 12px;
  height: auto;
}

.person {
  width: 200px;
  height: auto;
}

.socialMedia {
  width: 60px;
  height: auto;
  filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.3));
}

body::after {
  content: '';
  display: block;
  height: 110px; /* Set same as footer's height */
}

footer {
  :active, :visited, :link {
    color: white;
  }

  background: #4D4D4D;
  color: white;
  margin-top: 10px;
  text-align: center;
  position: absolute;
  width: 100%;
  padding: 20px;
  font-weight: normal;
  bottom: 0;
  height: 100px;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 40px;
  }

  .error {
    width: 75%;
  }
}