/* width */
.calenderDivDiv::-webkit-scrollbar {
  width: 10px !important;
}

/* Track */
.calenderDivDiv::-webkit-scrollbar-track {
  background: #4D4D4D !important;
}

/* Handle */
.calenderDivDiv::-webkit-scrollbar-thumb {
  background: #D7D8D9 !important;
  border-radius: 5px !important;
}

/* Handle on hover */
.calenderDivDiv::-webkit-scrollbar-thumb:hover {
  background: #a5a5a5 !important;
}


#content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contentSection {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, minmax(33vw, max-content));
}

.calenderDiv {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  margin: 20px 80px;
}

.calenderDivDiv {
  display: flex;
  flex-direction: column;
  height: 400px;
  overflow-y: scroll;
  padding: 0 10px;
  background: #4D4D4D;
}

.item {
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.item > *:not(.blue) {
  color: #D7D8D9;
}

.item > *.oswald {
  font-size: 30px;
}

.left {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 25px;
  transform: translateX(-2.5vw);
  margin: 20px 0;
}

.calender {
  display: grid;
  grid-template-columns: repeat(3, minmax(max-content, 1fr));
  grid-template-rows: max-content max-content;
  align-items: center;
  justify-items: center;
  border-bottom: #D7D8D9 solid 2px;
}

.time {
  grid-row: 1 / 3;
  grid-column: 2;
}

.location {
  grid-row: 1 / 3;
  grid-column: 3;
}

.infoDiv, .kontaktDiv {
  margin: 20px 80px;
  font-size: 18px;
}

#grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: max-content auto;
  align-items: center;
}

.kontaktDiv > *:not(.left) {
  font-weight: 300;
}

#telNr {
  font-weight: normal;
}

#grid > input, #grid > div > textarea {
  border: 2px solid black;
  padding: 5px;
  min-width: 250px;
  min-height: 40px;
  font-size: 18px;
}

input[type=date]:invalid {
  color: #4D4D4D;
  font-weight: 300;
}

#grid > input::placeholder, #grid > div > textarea::placeholder {
  font-weight: 300;
}

.grow-wrap {
  /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
  display: grid;
}

.grow-wrap::after {
  /* Note the weird space! Needed to preventy jumpy behavior */
  content: attr(data-replicated-value) " ";

  /* This is how textarea text behaves */
  white-space: pre-wrap;

  /* Hidden from view, clicks, and screen readers */
  visibility: hidden;
}

.grow-wrap > textarea {
  /* You could leave this, but after a user resizes, then it ruins the auto sizing */
  resize: none;

  /* Firefox shows scrollbar on growth, you can hide like this. */
  overflow: hidden;
}

.grow-wrap > textarea,
.grow-wrap::after {
  /* Identical styling required!! */
  border: 2px solid black;
  padding: 5px;

  /* Place on top of each other */
  grid-area: 1 / 1 / 2 / 2;
}


#formButton {
  cursor: pointer;
  padding: 10px;
  margin: 30px 0;
  background: transparent;
  border: 6px solid #D7D8D9;
  border-radius: 0;
  color: #4D4D4D;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: bold;
  width: 200px;
  transition: 0.2s;
  outline: none;
}

#formButton:hover, #formButton:focus {
  background: rgba(215, 216, 217, 0.7);
  color: #4D4D4D;
}

#required {
  margin-top: 20px;
  font-size: 12px;
}

#erfolgreich, #fehlgeschlagen {
  position: fixed;
  top: 55px;
  left: 0;
  right: 0;
  margin: auto;
  padding: 20px;
  text-align: center;
  border-radius: 0;
  font-weight: bold;
  width: max-content;
  transition: 0.3s;
  z-index: 10;
}

#erfolgreich {
  background: #58dfb2;
  color: white;
  border: 2px solid #39b189;
}

#kleiner {
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: normal;
}


@media (max-width: 1400px) {
  .contentSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
  }

  .contentSection > div {
    width: 35vw;
    margin: 20px 50px;
  }

  .item {
    padding: 15px;
  }
}

@media (max-width: 1000px) {
  .contentSection {
    align-items: center;
  }

  h2 {
    font-size: 20px;
  }
  #kleiner {
    font-size: 15px;
  }

  .contentSection > div {
    width: 75vw;
  }

  .item {
    padding: 10px;
  }

  .left {
    transform: translateX(-5vw);
  }
}

@media (max-width: 500px) {
  #grid > input, #grid > div > textarea {
    min-width: 100px;
  }

  #erfolgreich, #fehlgeschlagen {
    padding: 5px;
    border-width: 1px;
  }
  h2 {
    font-size: 4vw;
  }
  #kleiner {
    font-size: 3.5vw;
  }

  .item {
    padding: 5px;
  }
  .item > *.oswald {
    font-size: 25px;
  }
  .calenderDiv {
    font-size: 13px;
  }
}