#content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contentHeading {
  cursor: pointer;
}

.contentSection {
  width: 500px;
  margin: 0 50px;
}

.description {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin: 20px 50px
}

.hidden {
  display: inherit;
}


@media (max-width: 1000px) {
  .contentSection {
    width: 90vw;
  }

  .hidden {
    display: none;
  }
}