* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    overflow-x: hidden;
}
body {
    width: 100%;
}


#heading {
    background: #D7D8D9;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#headline {
    color: #4D4D4D;
    font-size: 156px;
    font-family: 'Oswald';
    font-weight: bold;
}


#content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


#first, #second, #third, #fourth, #fifth {
    overflow-y: hidden;
    overflow-x: visible;
    height: 121px;
    width: 30vw;
}

.contentHeading {
    height: 81px;
    background: #4D4D4D;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    color: #D7D8D9;
    font-family: 'Oswald';
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.description {
    font-family: 'Roboto';
    font-size: 15px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 20px max-content;
    margin: 20px;
    overflow-wrap: break-word;
}
.plus {
    width: 20px;
    height: auto;
}